.card{
	width: 100% !important;
	background-color: #353c48;

	input, select, textarea{
		border-color: rgba(255,255,255, 0.3);
		background-color: #353c48;
	}

	input:focus, select:focus, textarea:focus{
		border-color: white;
		background-color: #353c48;
	}

	input::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
	    color: #eee;
	    opacity: 0.3; /* Firefox */
	}

}