.heading{
	background-color: #353c48;
	border-bottom: 1px solid rgba( 255, 255, 255, 0.1);
}

.profileimage{
	width: 100px;
	border-radius:50%;
}

.detials{
	hr{
		border-bottom: 1px solid rgba( 255, 255, 255, 0.1);
	}
}

.listlist{
	display: flex;
	background-color: #353c48;
	justify-content: space-between;
}

.cardTopBorder{
	border-top: 2px solid #3ac9d6;
}