.container{
	padding-top: 40px;
	width: 100%;

	p{
		font-size: 14px;
		margin: 10px;
	}
	.card{
		background-color: transparent;
		border: 1px solid rgba(255,255,255, 0.2);
		margin:10px;
		border-radius: 10px;

		.cardhead{
			background-color: #2a2b3e;
			border:1px solid #2a2b3e;
			font-size: 14px;
			font-weight: 900;
			border-radius: 10px 10px 0 0;
		}

		.cardbody{
			padding: 0px;
			margin: 0px;

			.cardtext{
				padding: 0;
				margin: 0;

				.liststyle{
					display: flex;
					justify-content: space-between;
					background-color: transparent;
					border-top:1px solid rgba(255,255,255, 0.2);
				}
			}
		}
	}


	.profilepic{
		display: block;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-bottom: 1px solid rgba(255,255,255, 0.1);

		img{
			width: 120px;
			height: 120px;
			border-radius: 50%;
			border: 5px solid rgba(255,255,255, 0.1);
		}

		h3{
			color: inherit;
			font-size: 18px;
			font-weight: 900;
			margin-top: 10px;
		}

		.status{
			display: flex;
			padding-bottom: 20px;

			.active{
				background-color: lightgreen;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				margin-right: 5px;
				align-self: center;
			}
			.notactive{
				background-color: red;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				margin-right: 5px;
				align-self: center;
			}

			span{
				font-size: 13px;
			}
		}

	}
}
