.heading{
	font-size: 2em;
	color: #eee;
	position: relative;
	width: 78vw;
	display: flex;
	flex: row nowrap;
	justify-content: space-between;
}

.breadcrumb{

	font-size: 11px;
	justify-content: center;
	align-items: center;
	background-color: #999;
	border-radius: 40px;
	display: flex;
	flex: row nowrap;
	padding: 10px 15px;

	.breadcrumbitem{
		margin-right: 5px;
		
			a{color: white;}
		
	}
}