.topnav{
    background-color:#30353f;
    box-shadow: 0 2px 5px rgba(2, 2, 2, 0.3);
    position: relative;
    z-index: 10000;
    position: fixed;
    width: 100vw;
}
.brand{
    width: 205px;
    font-size: 24px;
    color: #eee;
}
.brand:hover{
    color:white
}

.linkclass{
    color: white;
    position: relative;
}

.notificationbadge{
    font-size: 15px;
    text-shadow: 0 1px red;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4px;
    right: 8px;
}

.topprofilepic{
    height: 28px;
    width: 28px;
    border: 2px solid #999;
    border-radius: 50%;
    margin: 0 5px 0 0;
    position:relative;
}

.formGroupTop{
    display: flex;
    position: relative;
    width: 245px;
    bottom: -8px;
    height: 36px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #999;
}

.topicons{
    color: white;
    transform: rotate(-35deg);
    margin: 0 10px 4PX 20px;
}

.menuicon{
    color: #eee;
    margin: 0;
}

.menubutton{
    background-color: transparent;
    border: 0 solid white;
    margin: 0 10px 0 0;
}
.menubutton:hover{
    box-shadow: 0 0 0 white;
    border: 0 solid transparent;
    box-shadow: 0 0 0 transparent;
    background-color: transparent;
}
.menubutton:focus, .menubutton:active{
    box-shadow: 0 0 0 white;
    border: 0 solid transparent;
    box-shadow: 0 0 0 transparent;
    background-color: transparent;
}

.input{
    background-color: #999;
    padding-left: 20px;
    border: 0 solid red; 
    width: 85%;
}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#eee;
    opacity: 1; /* Firefox */
}

.input:focus, .input:active, .input::select{
    background-color: #999;
}
.searchicon{
    color: #eee;
    margin: 0 15px 0 auto;
    align-self: center;
    cursor: pointer;
}
